{
	admin off
	persist_config off
	auto_https off
}

:{$PORT:80} {
	root * /app

	encode gzip

	header {
		# Security headers
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-XSS-Protection "1; mode=block"
		-Server
	}

	handle /health {
		respond "OK" 200
	}

	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		rewrite @404 /404.html
		file_server
	}

	file_server
}
